services:
    server:
        build: ./server
        environment:
            ASPNETCORE_ENVIRONMENT: Development

            CLIENT_URL: ${CLIENT_URL}
            SERVER_URL: ${SERVER_URL}
            DATABASE_CONNECTION: ${DATABASE_CONNECTION}

            PUBLIC_KEY: ${PUBLIC_KEY}
            PRIVATE_KEY: ${PRIVATE_KEY}

            AWS_ACCESS: ${AWS_ACCESS}
            AWS_SECRET: ${AWS_SECRET}
            AWS_REGION: ${AWS_REGION}
            AWS_BUCKET_NAME: ${AWS_BUCKET_NAME}
            AWS_ENDPOINT: ${AWS_ENDPOINT}
        networks:
            - dokploy-network

    client:
        build:
            context: ./client
            args:
                CLIENT_URL: ${CLIENT_URL}
                SERVER_URL: ${SERVER_URL}
        networks:
            - dokploy-network
        #
networks:
    dokploy-network:
        external: true
