@import "bootstrap/bootstrap";
@import "recent-activity";
@import "upload-files";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.file-card{
  padding: .675rem;
  .icon{
    width: 28px;
    height: 28px;
  }
  .title{
    font-size: 14px;
    font-weight: 500;
  }
  .size {
    font-size: 12px;
    font-weight: 500;
  }
  .date,{
    font-weight: 300;
    font-size: 12px;
  }
}

.folder-card{
  padding: .675rem;
  .icon{
    width: 28px;
    height: 28px;
  }
  .title{
    font-size: 14px;
    font-weight: 500;
  }
  .date{
    font-weight: 300;
    font-size: 12px;
  }
}

#sidebar{
  min-width: 200px;
  .sidebar-header{
    .icon {
      min-width: 34px;
      min-height: 34px;
      color: $purple-100
    }
    .title{
      font-size: 14px;
      line-height: 1;
    }
    .subtitle{
      font-size: 12px;
    }
  }
  .sidebar-footer{
    .user-icon{
      min-width: 34px;
      min-height: 34px;
    }
    .username{
      font-size: 14px;
    }
    .email{
      font-size: 12px;
    }
  }
}