@using MyMVCProject.Web.Models.Home
@* Views/Home/_LayoutDashboard.cshtml *@
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMVCProject</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMVCProject.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @await Html.PartialAsync("../Shared/_Toast.cshtml")
    @await Html.PartialAsync("_UploadFilesModal", new UploadFileModalViewModel())
    <div class="d-flex vh-100 bg-neutral-100">
        @await Html.PartialAsync("_Sidebar")

        <main id="content" class="flex-grow-1 overflow-auto bg-white shadow-sm py-3 px-5">
            @RenderBody()
        </main>
        @await Html.PartialAsync("_RecentActivity")
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="~/js/router.js" asp-append-version="true"></script>
    <script type="module" src="~/js/upload-files.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>