<div class="d-flex justify-content-between align-items-center gap-2">
    <div class="d-flex align-items-center gap-1">
        <i data-lucide="library-big" width="28" height="28"></i>
        <h2 class="m-0 fw-semibold fs-4">Library</h2>
    </div>
    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#add-file-modal" data-parent-id="">Add File</button>
        <button class="btn btn-neutral-200" data-parent-id="">Add Folder</button>
    </div>
</div>