<aside id="sidebar" class="d-flex flex-column">
    <div class="sidebar-header d-flex align-items-start gap-2 p-3 border-bottom border-neutral-200">
        <div class="icon bg-purple rounded-circle d-flex align-items-center justify-content-center">
            <i data-lucide="file-lock-2"></i>
        </div>
        <div>
            <span class="title fw-semibold">Vault App</span>
            <span class="subtitle d-block text-muted">E2EE File Storage</span>
        </div>
    </div>
    <div class="sidebar-content flex-grow-1"></div>
    <div class="sidebar-footer d-flex align-items-start gap-2 p-3 border-top border-neutral-200">
        <div class="user-icon bg-purple-600 text-purple-100 rounded-circle d-flex justify-content-center align-items-center">J</div>
        <div>
            <div class="username fw-semibold">João</div>
            <div class="email text-muted d-block">joao@email.com</div>
        </div>
    </div>
</aside>