#recent-activity {
  min-width: 240px;
}
#recent-activity .activity .content {
  font-size: 14px;
}
#recent-activity .activity .content .title {
  font-weight: 600;
}
#recent-activity .activity .content .date {
  font-weight: 300;
  font-size: 12px;
}
