<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3">

        <div id="file-uploaded-success-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-bg-success">
                <strong class="me-auto">Success!</strong>
                <small class="text-body-secondary">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                File uploaded successfully.
            </div>
        </div>

        <div id="file-uploaded-failed-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-bg-danger">
                <strong class="me-auto">Failed!</strong>
                <small class="text-body-secondary">2 seconds ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                A error occurred while upload one of the files selected.
            </div>
        </div>
    </div>
</div>